<h1>Add new Restaurant</h1>

<%= form_for @new_restaurant do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
  </div>
  <div>
    <%= f.label :address %>
    <%= f.text_field :address %><br>
  </div>
  <div>
    <%= f.label :city %>
    <%= f.text_field :city %><br>
  </div>
  <div>
    <%= f.label :state %>
    <%= f.text_field :state %><br>
  </div>
  <div>
    <%= f.label :zipcode %>
    <%= f.text_field :zipcode %><br>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %><br>
  </div>
  <div>
    <%= f.label :category %>
    <%= f.text_field :category %><br>
  </div>

  <%= f.submit %>

<% end %>

